body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:url(rivoston.jpeg);
    background-size: cover;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav ul {
    list-style: inside;
    display: flex;
    gap: 1rem;
    left: 25pc;
    
}

header nav ul li a {
    color: white;
    text-decoration: none;
}




section {
    margin-bottom: 2rem;
    background-color: rgba(21, 17, 17, 0.8);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 2rem auto;
}
    


.abc {
    display: flex;
}

    

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}
.education {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.photo img {
    border-radius: 500% ;
    width: 200px;
    min-height: 200px;
    
    
}

.sidebar {
    width: 250px;
    height: 320vh;
    background-color: #333;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.travel {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: rgba(21, 17, 17, 0.8); /* Semi-transparent background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    width: 80%;
}

.travel-content {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.travel-image {
    width: 50%;
    border-radius: 8px;
    object-fit: cover;
}

.travel-description {
    color: #f4f4f4;
    width: 50%;
}

.travel-description h2 {
    margin-top: 0;
}

.travel-description p {
    margin: 0.5rem 0;
}

footer {
    background-color: rgba(21, 17, 17, 0.8);
    color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
  
footer .social-media a {
    display: flex;
    height: 35px;
    width: 35px;
}
  
footer .social-media a img {
    flex-grow: 1 !important;
    width: auto;
}
  

